.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  @media screen and (max-width: 550px) {
    background-color: lightsteelblue;
  }

  .container {
    width: 80%;
    border: 2px solid black;
    border-radius: 3px;

    @media screen and (max-width: 1000px) {
      width: 90%;
    }

    .image {
      width: 100%;
    }

    .title, .post {
      background-color: white;
    }
  }
}