.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & input {
    height: 30px;
    width: 300px;
    border: none;
    outline: none;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
  }

  & textarea {
    resize: none;
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
}