.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  background-color: lightsteelblue;
  height: 100%;

  @media screen and (max-width: 550px) {
    width: 100%;
  }

  & button {
    height: 30px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 3px;
    line-height: 100%;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(0,49,255,0.67);

    &:hover {
      background-color: rgba(0,49,255,0.44);
    }

    &:active {
      color: rgba(0,49,255,0.67);
      background-color: white;
    }
  }
}